.Home {
    padding: 2rem 0;
    background-color: #eff3f7;
    height: 100vh;
    width: 100%;
    font-family: 'Montserrat';
}

.box__blue {
    background-color: #0040ff;
    color: #fff;
}

.block {
    display: block;
    height: calc(100vh - 4rem);
}

.smallBox__blue {
    background-color: #0040ff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 1rem 0;
}

.smallBox__blue:hover {
    cursor: pointer;
}

.smallBox__blue i {
    font-size: 1.5rem;
}

.buttons {
    background-color: transparent;
    border: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.twitter__title {
    margin-bottom: 1rem;
}

.twitter__title h4 {
    font-weight: 700;
}